body{
    margin: 0;
    font-family: 'Roboto Slab', serif;
}
h1{
    line-height: 0.5;
    font-size: 50px;
}
.p{
    font-size: 50px;
}
.name{
    color: tomato;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 50%;
}
.link-button{
    line-height: 0.5;
    text-decoration: none;
    background-image: linear-gradient(45deg,lightsalmon,tomato);
    background-color:tomato;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.highlight{
    color: tomato;
}
.single{
    box-shadow:10px 10px 10px 30px white;
    border-radius: 5px;
    height: 20%;
}
.experience{
    text-align: center;
}
.img{
    height: 50%;
    width: 15%;
}
section{
    height: 500px;
}
.last{
    width: 100%;
    height:550px;
}
.wi{
    width: 906px;
    height: 225px;
    background-image: url("images/Group_33094_1.png");
    background-size: cover;
    margin: 0 auto;
}
.work{
    color: white;
    width: 70%;
    float: left;
    line-height: 119px;
}
.button{
    width: 30%;
    float: right;
    line-height: 166px;
}
.co{
    color: rgb(230, 149, 149);
    text-align: center;
}
.lg{
    text-align: center;
}
.line{
    height: 2px;
}
footer p{
    text-align: center;
}